body{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #060D17;
    font-family: sans-serif;
    padding: 15px ;
    max-width: 100% !important;
    height: 100%;
    overflow: auto;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #101823;
    border-radius: 16px;
    padding: 3vw;
    padding-block: 15px;
    width: 60%;
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.25), 0px 1px 1px black;
    box-sizing: border-box;
}

.main h1{
    font-family: sans-serif;
    font-size: 4vw;
    font-weight: 700;
}

.main > p{
    max-width: 30vw;
    line-height: 2vw;
    font-family: sans-serif;
    font-size: 1.25vw;
    font-weight: 450;
    margin-bottom: 50px;
}

.tasks-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    min-height: 100px;
    max-height: 100%;
    min-width: 100%;
}

.tasks-container > *{
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    line-height: 2vw;
    width: 30%;
    min-height: 300px;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.25), 0px 1px 1px black;
}

.tasks-container img{
    width: 16vh;
    filter: drop-shadow(0px 0px 1px #101823);
}

@media (min-width: 200px) and (max-width: 700px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: #060D17;
        font-family: sans-serif;
        padding: 15px;
        padding-right: 0px;
        overflow: hidden;
        gap: 50px;
    }


    .tasks-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100px;
        gap: 20px;
    }

    .main > p{
        max-width: 75%;
        font-size: 10px;
    }

    .tasks-container >*{
        min-width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        padding-block: 30px;
        border-radius: 16px;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        width: 30%;
        box-sizing: border-box;
    }
}

.tasks-container .task1{
    color: #D13F32;
    font-weight: 600;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #361f25, #251c24);
    text-shadow:#001F11;
}

.tasks-container .task2{
    color: #155CBB;
    font-weight: 600;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #132742, #0e1b2d);
    text-shadow:#001F11;
}

.tasks-container .task3{
    color: #00854B ;
    font-weight: 600;
    font-family: sans-serif;
    background: linear-gradient(to bottom left, #0d2d28, #0e2425);
    text-shadow:#001F11;
}

.right-side{
    width: 36%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    padding: 20px;
    max-height: 500px;
}

form h3{
    padding-left: 10px;
}

form input{
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    border: none;
    background-color: #212C3B;
    color: white;
    transition-duration: 0.2s;
    border: 1px solid transparent;
}

form input::placeholder{
    font-weight: 500;
    color: #bcbcbc;
}    

form input:hover{
    border: 1px solid rgba(255, 255, 255, 0.164);
    outline: none;
}

form input:active{
    border: 1px solid rgba(255, 255, 255, 0.164);
    outline: none;
}

form button{
    padding: 16px;
    border-radius: 16px;
    background-color: #B3B3B3;
    border: none;
    color: black;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

form button::after{
    content: url(/icons/login_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png);
    position: absolute;
    right: 2.7vw;
    bottom: 10px;
    margin: 0px;
}

form button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}